@import './../../Variables.scss';

.info-message-paragraph {
    color: $primary-color;
    max-width: 500px;
}

.info-message-div {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    font-weight: 300;
}